<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Course Placement Quiz</h1>

    <form method="POST">

        <label>Which task sounds most interesting?</label><br>
        <input type="radio" name="q1" value="cloud"> Cloud<br>
        <input type="radio" name="q1" value="python"> Python<br>
        <input type="radio" name="q1" value="linux"> Linux<br><br>

        <label>What do you enjoy learning?</label><br>
        <input type="radio" name="q2" value="cloud"> Cloud Services<br>
        <input type="radio" name="q2" value="python"> Programming<br>
        <input type="radio" name="q2" value="linux"> Infrastructure<br><br>

        <label>What describes you best?</label><br>
        <input type="radio" name="q3" value="cloud"> Curious<br>
        <input type="radio" name="q3" value="python"> Creative<br>
        <input type="radio" name="q3" value="linux"> Logical<br><br>

        <label>Your Name:</label><br>
        <input type="text" name="student_name" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
