{% extends "base.html" %}
{% block content %}

<div class="card shadow p-4 mb-5">
    <h2 class="mb-4">Course Placement Quiz</h2>

    <form method="POST">

        <div class="mb-4">
            <label class="form-label fw-bold">Which task sounds most interesting?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" value="cloud" required>
                <label class="form-check-label">Cloud</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" value="python">
                <label class="form-check-label">Python</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" value="linux">
                <label class="form-check-label">Linux</label>
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label fw-bold">What do you enjoy learning?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" value="cloud" required>
                <label class="form-check-label">Cloud Services</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" value="python">
                <label class="form-check-label">Programming</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" value="linux">
                <label class="form-check-label">Infrastructure</label>
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label fw-bold">What describes you best?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3" value="cloud" required>
                <label class="form-check-label">Curious</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3" value="python">
                <label class="form-check-label">Creative</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3" value="linux">
                <label class="form-check-label">Logical</label>
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label fw-bold">Your Name:</label>
            <input type="text" name="student_name" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success w-100">Submit</button>
    </form>
</div>

{% endblock %}
